/* font-weight 400, 600, 800 import함. */
/* .title {
  font-family: "NanumSquare", sans-serif !important;
  color: black;
} */

body {
  width: 100%;
  font: 1rem;
  font-family: "NanumSquare", sans-serif !important;
  background-color: rgb(14, 22, 33);
  color: rgb(218, 220, 221);
}
header,
footer {
  padding: 0 0.5rem;
  width: 100%;
}
header {
  /* background-color: rgba(255, 196, 0, 0.541); */
  background-color: rgb(31, 41, 54);
}
main {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
footer {
  background-color: rgb(23, 33, 42);
  display: flex;
}

header,
footer {
  padding: 0.5rem 1rem;
}

/* header part */
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul li {
  padding: 0.5rem 1rem;
}

/* ASIDE part*/
aside {
  /* background-color: #fd9b5c; */
  display: flex;
}
.aside ul li {
  margin-bottom: 1rem;
  color: rgb(218, 220, 221);
}

/* ASIDE INFO */
.aside:first-child {
  flex-direction: column;
  background-color: rgb(35, 46, 60);
}
.aside:first-child ul {
  padding: 0;
  height: 100%;
}
.aside:first-child li {
  padding: 1rem;
  background-color: rgb(23, 33, 43);
}
.aside:first-child div,
.aside:first-child a {
  flex-direction: row;
}
.aside:first-child div {
  margin-bottom: 1rem;
}

.aside .grid-wrapper {
  grid-template-areas: "we";
}

/* ASIDE LIST */
.aside:last-child {
  flex-direction: row;
  background-color: rgb(23, 33, 43);
}
.aside:last-child ul {
  padding: 1rem 1rem 0rem 1rem;
}
.aside:last-child ul:first-child i {
  /* margin-right: 1rem; */
  font-size: 2rem;
}
.aside:last-child ul:last-child {
  border-left: 10px rgba(0, 0, 0, 0.315) solid;
}
.aside:last-child ul li a {
  display: flex;
  flex-direction: column;
}
.aside:last-child ul li a span:last-child {
  color: rgb(83, 98, 114);
}
/* */

.aside .web-info .article-index,
.aside .web-info .article-index li {
  background-color: rgb(43, 82, 119);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.1rem;
}
.aside .web-info .article-index {
  margin-bottom: 1rem;
}

/* MAIN part */
.article {
  /* border: 1px dotted rgb(4, 0, 255); */
}

/* FOOTER part */
footer div {
  margin-right: 1rem;
}

/* HOVER, CUSOR */
a:hover {
  opacity: 0.5;
  border-bottom: solid white 2px;
}

/*  */
.grid-wrapper {
  display: grid;
}
/* MEDIA QUERY, RESPONSIVE CSS */
@media screen and (min-width: 641px) {
  header nav ul {
    justify-content: space-around;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* grid-template-areas: "aside article nav"; */
    height: 100%;
  }
  .article {
    /* overflow: scroll; */
    /* height: 70vh; */
  }
  .aside {
    height: 90vh;
    position: sticky;
    top: 30px;
  }
  .aside .article-index ul:not(:first-child) {
    padding-left: 1rem;
  }
  .aside .article-index ul ul:last-child {
    font-size: 0.9rem;
  }
  .aside .article-index ul li a i {
    margin-right: 0.5rem;
  }
}
